* {
    margin: 0px;
    padding: 0px;
}

.container{
    height: 100vh;
    width: 100vw;
    /* background: linear-gradient(to right, #D4D3DD, #D4D3DD); */
    background-color: #f5bbc8;

}
#secondary{
    /* border: 3px solid greenyellow; */
    border-radius: 35px;
    width: 85%;
    height: 92vh;
    margin: 0px auto;
    background-color: white;
    box-shadow: 4px 8px 8px #535252;
}
#hed-cont{
    display: flex;
    align-items: center;
    justify-content: center;
}

#heading{
    width: 41vw;
    height: 21vh;
    border-radius: 26px;
}
.names-styl{
    font-size: 1rem;
    background-color: transparent;
    margin: 8px 4px;
    margin-bottom: 0px;
}

.address-styl{
    font-size: 0.89rem;
    color: #998fa2;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 400;
}
.align{
    margin: 4px 5px;
    margin-bottom: 0px;
}

/* For Data Container(Appoinment Booking) */

.data-Container {
    /* border: 2px solid blue; */
    display: grid;
    grid-template-columns: 182px auto auto auto auto auto auto auto;
    margin: 11px 0px;
}

#name-0{
    margin: 0px 4px;
}

.data-item {
    /* border: 2px solid black; */
    margin: 15px 0;
    margin-left: 21px;
    margin-right: 10px;
    width: 90%;
    margin-bottom: 0px;
}

.format-data {
    text-align: center;
}


.appoinment-data {
    display: flex;
}

.ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    width: 100%;
}

.inner-div{
    background-color: #ffbcff;
    border: 2px solid rgb(200, 130, 130);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;         /*Recent change*/
    border-radius: 17px;
    padding: 13px;
    box-shadow: 4px 8px 8px #888888;
}
.inner-div:hover{
    background-color: #e675e6;
    border-radius: 17px;
    padding: 13px;
}

li{
    padding: 5px 0px;
    text-align: center;
    width: auto;
    margin: 0px 6.5px;
}

li a{
    text-decoration: none;
    width: 75%;
    border: 2px solid #2a24ff;
    background-color: #2a24ff;
    color: white;
    border-radius: 10px;
    margin: 5px;
}
/***************************/
.date{
    font-weight: 600;
}
#temp{
    margin-top: 0px;
}
/***************************/

.vaccine-styl{
    font-size: 13px;
    margin: 0px 11px;
}

.age{
    color: red;
    font-weight: bold;
    font-family: monospace;
    font-size: 0.9rem;
}
.display-none{
    display: none;
}

#vaccine-name{
    padding: 7px 4.2px;
}
